.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    min-height: 40vh;
  }
  
  .card-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  

  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #333;
  }
  
  .card-content p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    color: #666;
  }

  .card-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 5px;
    display: inline-block;
  }
  
  .dot.active {
    background-color: #333;
    width: 20px;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }

  .next-button {
    background-color: #272727;
    color: white;
    border: 1px solid #272727;  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #939393;
    border: 1px solid #939393;  

  }

  .previous-button {
    background-color: #fff;
    color: #272727;
    border: 1px solid #272727;  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .previous-button:hover {
    color: white;
    border: 1px solid #939393;  
    background-color: #939393;
  }

  .ocultar {
    display: none;
  }